.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    min-width: 0;
}

.sidebar {
    background: #1f3347;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        position: sticky;
        top: 0;
        width: 238px;
        height: 100vh;
    }
}
