SSALDDEL_SITE_HOST=your-dns-label.koreacentral.cloudapp.azure.com
SSALDDEL_STORAGE_ACCOUNT_NAME=yourstorageaccount
SSALDDEL_MYSQL_ROOT_PASSWORD=
SSALDDEL_MYSQL_PASSWORD=
SSALDDEL_MONGO_PASSWORD=
SSALDDEL_JWT_SECRET_KEY=
SSALDDEL_ISMS_P_AES_KEY_BASE64=
SSALDDEL_ISMS_P_HASH_SALT=
SSALDDEL_DATA_PROTECTION_CERTIFICATE_PASSWORD=
SSALDDEL_BOOTSTRAP_ADMIN_ENABLED=false
SSALDDEL_BOOTSTRAP_ADMIN_USER_NAME=
SSALDDEL_BOOTSTRAP_ADMIN_EMAIL=
SSALDDEL_BOOTSTRAP_ADMIN_PASSWORD=
SSALDDEL_COMMUNITY_POST_EMAIL_ENABLED=false
SSALDDEL_COMMUNITY_POST_EMAIL_RECIPIENT=
SSALDDEL_GMAIL_USER_NAME=
SSALDDEL_GMAIL_APP_PASSWORD=
SSALDDEL_GMAIL_FROM_ADDRESS=
